.input-upload {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.upload-button {
    font-size: 1.25em;
    font-weight: 500;
    color: white;
    background-color: #FF5252;
    display: inline-block;
    border: none;
    padding: 10px;
    width: 300px;
}

.upload-button:hover {
    cursor: pointer;
    background-color: #C2185B;
}


.upload-button .icon > i {
    font-size: 2rem;
    margin: 5px;
    margin-top: 2px;
}